:root {
  --white: #fff;

  --blue: #5747ea;

  --light-red-word: #ff8b64;
  --soft-blue: #55c2e6;
  --light-red-study: #ff5e7d;
  --lime-green: #4bcf82;
  --violet: #7335d2;
  --soft-orange: #f1c75b;

  --very-dark-blue: #0e1323;
  --dark-blue: #1c204b;
  --desatured-blue: #7078c9;
  --pale-blue: #bbc0ff;
}

@mixin text($font, $line: $font, $ls: normal) {
  font-size: $font;
  line-height: $line;
  letter-spacing: $ls;
}

@mixin wh($width: 0, $height: $width) {
  width: $width;
  height: $height;
}

/*
    PADDING
*/

@mixin pX($left: 0, $right: $left) {
  padding-left: $left;
  padding-right: $right;
}

@mixin pY($top: 0, $bottom: $top) {
  padding-top: $top;
  padding-bottom: $bottom;
}

/*
    MARGIN
*/

@mixin mX($left: 0, $right: $left) {
  margin-left: $left;
  margin-right: $right;
}

@mixin mY($top: 0, $bottom: $top) {
  margin-top: $top;
  margin-bottom: $bottom;
}

/*
    FLEX
*/

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexSpaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flexSpaceAround {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*
    GRID
*/
@mixin grid1R($gap: 0) {
  display: grid;
  grid-auto-flow: column;
  gap: $gap;
}
@mixin grid1C($gap: 0) {
  display: grid;
  grid-auto-flow: row;
  gap: $gap;
}
