.card-header {
  background-color: var(--dark-blue);
  border-radius: 15px;

  .user {
    border-radius: 15px;
    background-color: var(--blue);

    padding: 35px 39px 34px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      border-radius: 50%;
      border: 4px solid var(--white);
      @include wh(64px);
    }

    span {
      @include text(15px, 18px);
      color: var(--pale-blue);
      margin-bottom: 4px;
    }
    .username {
      font-weight: 300;
      @include text(24px, 28px);
      color: var(--pale-blue);
    }
  }
  .switch-time {
    @include flexSpaceAround;

    button {
      border: none;
      @include text(18px, 21px);
      @include pY(24px, 25px);

      &.active,
      :hover {
        color: var(--white);
      }
      &.inactive:not(:hover) {
        color: var(--desatured-blue);
      }
    }
  }
}

/**
* ? DeskTop
*/
@media (min-width: 1440px) {
  .card-header {
    width: 255px;
    .user {
      width: 255px;
      gap: 41px;
      flex-direction: column;
      align-items: flex-start;

      padding: 37px 32px 80px;

      img {
        @include wh(78px);
      }

      .username {
        @include text(40px, 47px);
      }
    }
    .switch-time {
      height: 164px;
      flex-direction: column;
      align-items: flex-start;
      padding: 26px 32px 32px;

      button {
        @include pY(0);
      }
    }
  }
}
