body {
  color: var(--white);
  background-color: var(--very-dark-blue);

  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.cw {
  width: 327px;
  margin: 0 auto;
}

.sro {
  display: none;
  visibility: hidden;
} // Screen Reader Only

:where(h1, h2, h3, h4, h5, h6, p) {
  @include mY(0);
}

:where(a, button) {
  cursor: pointer;
}

/**
* ? DeskTop
*/
@media (min-width: 1440px) {
  .cw {
    width: 1110px;
  }
}
