body {
  color: var(--white);
  background-color: var(--very-dark-blue);

  font-family: "Rubik", sans-serif;
  font-weight: 400;

  .app {
    @include mY(81px);

    .cw {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .body {
        // display: flex;
        // flex-direction: column;
        display: grid;
        grid-template-columns: 1fr;

        gap: 24px;
      }
    }
  }
}

.cw {
  width: 327px;
  margin: 0 auto;
}

.sro {
  display: none;
  visibility: hidden;
} // Screen Reader Only

:where(h1, h2, h3, h4, h5, h6, p) {
  @include mY(0);
}

:where(a, button) {
  cursor: pointer;
}

.up1::first-letter {
  text-transform: uppercase;
}

/**
* ? DeskTop
*/
@media (min-width: 1440px) {
  body {
    .app {
      @include mY(253px);

      .cw {
        flex-direction: row;
        gap: 30px;

        .body {
          grid-template-columns: repeat(3, 1fr);
          gap: 30px;
        }
      }
    }
  }
  .cw {
    width: 1110px;
  }
}
